car-web/node_modules/
ruoyi-vue/ruoyi-admin/bin/
ruoyi-vue/ruoyi-common/bin/
ruoyi-vue/ruoyi-framework/bin/
ruoyi-vue/ruoyi-generator/bin/
ruoyi-vue/ruoyi-quartz/bin/
logs/
car/target/
car/.project
car/.idea/checkstyle-idea.xml
car/.idea/vcs.xml
car/.idea/workspace.xml
